<div class="text-layout">
    <h1>Decimal pipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente ubucados en el coomon module.
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ventasNetas|number: '1.2-2'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ventasNetas + 2000000|currency:'CAD':'symbol-narrow':'1.0-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Margen de Ganancias" subheader="del presente año">
            {{porcentaje | percent}}
        </p-card>
    </div>

</div>