<div class="text-layout">
    <h1>Pipes Basicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente ubucados en el coomon module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
       <p-card header="Uppercase" [subheader]="nombreLower">
            {{nombreLower|uppercase}}
       </p-card>
    </div>
    <div class="col-4">
        <p-card header="Lowercase" [subheader]="nombreUpper">
            {{nombreUpper|lowercase}}
       </p-card>
    </div>
    <div class="col-4">
        <p-card header="Titlecase" [subheader]="nombreCompleto">
            {{nombreCompleto|titlecase}}
       </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para manejo de fechas.
    </p>
</div>

<div class="grid">
    <div class="col-6">
       <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date:'short'</li>
                <li>Fecha| date:'long'</li>
                <li>Fecha| date:'MMMM'</li>
                <li>Fecha| date:'MMMM dd yyyy'</li>
            </ul>
       </p-card>
    </div>

    <div class="col-6">
        <p-card>
             <ul>
                 <li>{{fecha}}</li>
                 <li>{{fecha|date}}  
                 </li>
                 <li>{{fecha| date:'short'}}</li>
                 <li>{{fecha| date:'long'}}</li>
                 <li>{{fecha| date:'MMMM'}}</li>
                 <li>{{fecha| date:'MMMM dd yyyy'}}</li>
             </ul>
        </p-card>
     </div>
</div>